
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/

# SQLite
*.db
*.sqlite3

# Node.js
frontenddeneme/node_modules/
frontenddeneme/dist/
frontenddeneme/.DS_Store
node_modules/
dist/
.DS_Store

# Editor
.vscode/
.idea/

# Custom
bip_notifications.csv
*.log
